.App {
  padding: 2em;
}

.CardContainer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardContainer-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
}

.Card {
  max-width: var(--card-size);
  margin-inline: auto;
}

.Card-text {
  margin-block: .5em 3em;
  font-weight: 600;
}

.Card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card-title {
  display: flex;
  gap: 1em;
  align-items: center;
}

.Card-title h2 {
  font-weight: 500;
  font-size: 1rem;
  opacity: .4;
}

.Card-picture {
  display: block;
  aspect-ratio: 3/2;
}
.Card-img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Card-badge {
  border: 1px solid black;
  border-radius: 50px;
  padding: .3em .6em;
  font-weight: 700;
}

.Card-rating {
  display: flex;
  align-items: center;
  gap: .4em;
}
.Header-img {
  display: block;
  margin-block-end: 2.5em;

}

.HeaderBar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-inline: auto;
  margin-block-end: 1em;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  font-family: var(--light-font);
} 

.Header-btn {
  background-color: transparent;
  border: none;
  padding: 1.5em;
  font-size: 1rem;
}

.Header-btn--bordered {
  border-inline: 1px solid #F2F2F2;
}
.Header-btn--bordered span {
  opacity: .3;
}

.Modal {
  background-color: rgba(79, 79, 79, 0.4);
  position: fixed;
  inset: 0;
}

.Modal-title {
  margin: 0;
}
.Modal-close {
  font-size: 2rem;
}
.Modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Modal-content {
  padding: 2em;
  background-color: #FFF;
  min-height: 80%;
  position: relative;
}

.FilterList {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1em;
}

.LocationItem {
  display: flex;
  gap: 2em;
}

.GuestItem-header > * {
  margin: 0;
}

.GuestItem-title {
  font-size: 1rem;
}

.GuestItem-description {
  opacity: .3;
}

.Counter {
  margin-block: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.1rem;
  
}

.Counter button {
  border-radius: 5px;
  padding: .3em .5em;
  font-size: 1.1rem;
  background-color: #FFF;
  border: 1px solid black;
}

.SearchBar {
  display: flex;
  flex-direction: column;
  padding-block: .5em;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  padding: 0;
  margin-block: 2em;
}

.SearchBar-item {
  padding: 1em 2em;  
}

.SearchBar-title {
  display: block;
}
.SearchBar-item + .SearchBar-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1)
} 
.SearchBar-content {
  width: 100%;
  border: none;
  padding-block: 1em;
}

.SearchBar-submit {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em 2em;
  color: #FFF;
  background-color: #eb6565;
  border: none;
  border-radius: 15px;
  display: flex;
  gap: .5em;
  font-size: 1rem;
}

.Counter-btn:active {
  filter: brightness(95%);
}

.hidden {
  display: none;
}

/* -------------------------------- */
@media (min-width: 800px) {

  .App {
    padding-inline: 5em;
  }

  .Header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header-img {
    margin-block-end: 0;
  }
  
  .HeaderBar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 0;
  } 

  .SearchBar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .SearchBar-submit {
    position: static;
  }

  .SearchBar-item + .SearchBar-item {
    border-inline: 1px solid rgba(0, 0, 0, 0.1)
  }
}