.Modal-title {
  margin: 0;
}
.Modal-close {
  font-size: 2rem;
}
.Modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Modal-content {
  padding: 2em;
  background-color: #FFF;
  min-height: 95%;
  position: relative;
}

.FilterList {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1em;

  position: absolute;
  top: 38%;
}

.FilterList--hidden {
  display: none;
}

.LocationItem {
  display: flex;
  gap: 2em;
}

.GuestItem-header > * {
  margin: 0;
}

.GuestItem-title {
  font-size: 1rem;
}

.GuestItem-description {
  opacity: .3;
}

.Counter {
  margin-block: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.1rem;
  
}

.Counter button {
  border-radius: 5px;
  padding: .3em .5em;
  font-size: 1.1rem;
  background-color: #FFF;
  border: 1px solid black;
}

.SearchBar {
  display: grid;
  padding-block: .5em;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  padding: 0;
  margin-block: 2em;
}

.SearchBar-item {
  padding: 1em 2em;  
}

.SearchBar-item:focus-within{
  outline: 2px solid black;
  border-radius: 15px;
}

.SearchBar-title {
  display: block;
}
.SearchBar-item + .SearchBar-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1)
} 
.SearchBar-content {
  width: 100%;
  border: none;
  padding-block: 1em;
}

.SearchBar-content:focus {
  outline: none;
}

.SearchBar-submit {
  position: absolute;
  bottom: 1em;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  padding: 1em 2em;
  color: #FFF;
  background-color: #eb6565;
  border: none;
  border-radius: 15px;
  display: flex;
  gap: .5em;
  font-size: 1rem;
}

.Counter-btn:active {
  filter: brightness(95%);
}

/* -------------------------------- */
@media (min-width: 800px) {

  .SearchBar {
    grid-template-columns: repeat(3,1fr);
    align-items: center;
  }

  .SearchBar-submit {
    position: relative;
    top: 0;
  }

  .SearchBar-item + .SearchBar-item {
    border-inline: 1px solid rgba(0, 0, 0, 0.1)
  }

  .FilterList {
    top: 28%;
  }
}