:root {
  --light-font: 'Mulish', sans-serif;
  --regular-font: 'Montserrat', sans-serif;
}

*,
::before,
::after
{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--regular-font)
}

img {
  max-width: 100%;
}